* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background: #999;
}

.main_container {
    max-width: 90%;
    margin: 0 auto;
}

.section_cont {
    border: 1px solid red;

    margin-bottom: 10px;
}

/* Introduction starts here */

.intro_container {
    padding: 3px 10px;

    display: flex;
    flex-flow: column nowrap;

    justify-content: center;
    align-items: center;
}

.header {
    font-size: 2rem;
    text-align: center;
}

.profile_pic {
    border-radius: 20px;

    width: 70vw;

    margin: 1%;
}

.greetings {
    margin: 1rem 0;
}

/* Introduction ends here */

/* Skills starts here */

.known_tech {
    background-color: #555;
    padding: 10px;

    align-self: stretch;

    justify-content: space-between;

    display: flex;
    flex-wrap: wrap;
    gap: 4%;
}

.tech {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    margin: 5px 0;
}

.known_tech .icon {
    width: 100px;
}

.known_tech .name {
    font-weight: bold;
}

/* Skills ends here */
