:root {
    --body_bg: #d8dbe2;
    --sections_bg: #a9bcd0;
    --details_bg: #c1ccd9;
    --nav_bh: #8d9db1;
    --slightly_dark_color: #373f51;
    --dark_color: #2d2d34;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--body_bg);
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

.main_container {
    max-width: 90%;
    margin: 0 auto;
}

.section_cont {
    box-shadow: -3px -3px 3px black;

    margin-bottom: 5vh;

    background-color: var(--sections_bg);
}

.header {
    font-size: 2rem;
    text-align: center;
}

.details {
    border: 2px solid #333;
    box-shadow: 3px 3px 3px #666;
    padding: 5px;
    width: 100%;

    background-color: var(--details_bg);

    border-radius: 10px;
}

/* ---------------------------------------------------- */

/* Navbar starts here */

nav {
    background: var(--nav_bh);
    margin-bottom: 2rem;
    color: var(--body_bg);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    position: relative;

    /* Section ignores parent's max-width */
    width: 100vw;
    margin-left: calc(50% - 50vw);
}

.my_name {
    font-size: 3rem;
    font-weight: bold;

    color: var(--dark_color);
}

.section_list_container.active ul.sections {
    max-height: 100vh;
    transform: scaleY(1);
}

.section_list_container.active ul.sections li:hover {
    box-shadow: inset -6px 0 10px var(--nav_bh);
}

.section_list_container.active .sections_icon {
    transform: rotate(180deg);
}

ul.sections {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    list-style: none;

    gap: 2rem;

    background-color: var(--slightly_dark_color);
    border-radius: 10px;

    padding: 1rem;

    max-height: 0;
    overflow: hidden;
    transform: scaleY(0);

    transition: max-height 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform-origin: top;

    position: absolute;
    right: 0;
}

ul.sections li {
    border-radius: 5px;
    padding: 5px 0;
}

.sections_icon {
    width: 50px;
    cursor: pointer;

    transform: rotate(0);
    transition: transform 0.5s ease-out;
}

.sections a {
    font-size: 1.5rem;
}

/* Navbar ends here */

/* ---------------------------------------------------- */

/* Introduction starts here */

.intro_container {
    padding: 3px 10px;

    display: flex;
    flex-flow: column nowrap;

    justify-content: center;
    align-items: center;
}

.intro_container .my_name {
    align-self: start;
}

.profile_pic {
    border-radius: 20px;

    width: 70vw;

    margin: 1%;
}

.greetings {
    margin: 1rem 0;
}

/* Introduction ends here */

/* ---------------------------------------------------- */

/* Skills starts here */

.known_tech {
    background-color: var(--slightly_dark_color);
    padding: 10px;

    align-self: stretch;

    justify-content: space-between;

    display: flex;
    flex-wrap: wrap;
    gap: 4%;
}

.tech {
    color: var(--body_bg);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    margin: 5px 0;
}

.known_tech .icon {
    width: 100px;
}

.known_tech .name {
    font-weight: bold;
}

/* Skills ends here */

/* ---------------------------------------------------- */

/* Projects starts here */

.projects {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;

    gap: 10px;
}

.project {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    margin: 10px 0;

    flex-grow: 1;
    flex-shrink: 0;
}

.project .icons {
    display: flex;
    gap: 1rem;
}

.project .screenshot {
    width: 85vw;
    aspect-ratio: 16/9;
    background: var(--sections_bg);
}

.project .description,
.project .name {
    text-align: center;
}

.project .main_info {
    display: flex;

    justify-content: end;

    align-self: stretch;

    position: relative;
}

.project .name {
    font-weight: bold;

    position: absolute;
    left: 50%;

    transform: translateX(-50%);
}

.project .icon {
    height: 30px;
}

.project .details {
    display: flex;
    flex-flow: column nowrap;
    max-width: 90vw;

    justify-content: center;
    align-items: center;
}

/* Projects ends here */

/* ---------------------------------------------------- */

/* Contacts starts here */

.contacts_container {
    width: 100vw;

    background-color: var(--slightly_dark_color);
    color: var(--body_bg);

    transform: translateX(-50%);
    margin-left: 50%;

    margin-bottom: 0;

    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.contacts_container > h2 {
    font-size: 3rem;
}

.contacts {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;

    align-items: center;
}

.contacts * {
    font-size: 1.5rem;
}

.contacts > p {
    text-align: center;
}

.contact {
    display: flex;
    gap: 5px;

    justify-content: center;
    align-items: center;
}

.contact .icon {
    width: 35px;
}

.footer.icons {
    display: flex;
    justify-content: center;
    gap: 10%;

    margin-top: 20px;
}

.footer .icon {
    width: 60px;
}

/* Contacts ends here */

/* ---------------------------------------------------- */

@media (min-width: 40em) {
    .project .screenshot {
        width: 30vw;
    }

    .project .details {
        max-width: 40vw;
    }

    .profile_pic {
        width: 20vw;
    }

    .intro_container {
        flex-flow: row nowrap;
    }

    ul.sections {
        gap: 5vw;

        font-weight: bold;
        margin-right: 1vw;

        align-items: center;
        flex-flow: row nowrap;

        background-color: inherit;

        max-height: fit-content;
        transform: scaleY(1);

        padding: 0;

        position: relative;
    }

    .sections a {
        font-size: 3vw;
    }
}
