@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

html {
    scroll-behavior: smooth;
}

@layer components {
    .full-anchor {
        @apply w-full h-full inline-block;
    }
    .all-0 {
        @apply top-0 right-0 bottom-0 left-0;
    }
    .show-up {
        @apply outline-red-500 outline-2 outline-dashed;
    }
    .section {
        @apply bg-gray-950 text-white bg-ellipsis-night-t p-2;
    }
    .section-header {
        @apply text-center font-bold text-3xl;
    }
}
